.App {
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  font-family: monospace;
}

.App * {
  box-sizing: border-box;
}

.App-title {
  font-size: 2em;
  display: block;
  padding: 50px;
}

.App-intro {
  font-size: 1.5em;
  margin: 50px;
  position: absolute;
  top: 100px;
  left: 20%;
  right: 20%;
  z-index: 0;
}

.lisp, .minesweeper, .tictactoe, .deck {
  cursor: pointer;
  transition: .5s;
  font-size: larger;
}

.lisp, .minesweeper {
  width: 120px;
  height: 100vh;
  padding-top: 200px;
  position: absolute;
  z-index: 2;
}

.lisp {
  background-color: lightblue;
  left: 0;
}

.minesweeper {
  background-color: lightgreen;
  right: 0;
}

.tictactoe, .deck {
  position: fixed;
  padding: 50px;
  height: 120px;
  width: 100%;
  z-index: 3;
}

.tictactoe {
  bottom: 0;
  background-color: pink;
}

.deck {
  top: 0;
  background-color: lavender;
}

.msgame, .lgame, .tttgame, .docgame {
  visibility: hidden;
}

.grid {
  margin-top: 50px;
  background-color: lightgrey;
}

.tttgame button {
  display: block;
  padding: 20px;
  font-family: monospace;
  font-size: 1em;
  margin: 20px auto;
  cursor: pointer;
}

.expression {
  background-color: darkblue;
  color: lightgrey;
  font-size: 1.5em;
  margin: 50px;
  display: block;
  padding: 20px;
  height: 70px;
  position: absolute;
  left: 15%;
  right: 15%;
}

.token {
  padding: 0 5px;
}

.tokens {
  margin-top: 200px;
}

.tokens button {
  font-size: 1.2em;
  font-family: monospace;
  margin: 5px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.msgame {
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
