.App {
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  font-family: monospace;
}

.App * {
  box-sizing: border-box;
}

.App-title {
  font-size: 2em;
  display: block;
  padding: 50px;
}

.App-intro {
  font-size: 1.5em;
  margin: 50px;
  position: absolute;
  top: 100px;
  left: 20%;
  right: 20%;
  z-index: 0;
}

.lisp, .minesweeper, .tictactoe, .deck {
  cursor: pointer;
  transition: .5s;
  font-size: larger;
}

.lisp, .minesweeper {
  width: 120px;
  height: 100vh;
  padding-top: 200px;
  position: absolute;
  z-index: 2;
}

.lisp {
  background-color: lightblue;
  left: 0;
}

.minesweeper {
  background-color: lightgreen;
  right: 0;
}

.tictactoe, .deck {
  position: fixed;
  padding: 50px;
  height: 120px;
  width: 100%;
  z-index: 3;
}

.tictactoe {
  bottom: 0;
  background-color: pink;
}

.deck {
  top: 0;
  background-color: lavender;
}

.msgame, .lgame, .tttgame, .docgame {
  visibility: hidden;
}

.grid {
  margin-top: 50px;
  background-color: lightgrey;
}

.tttgame button {
  display: block;
  padding: 20px;
  font-family: monospace;
  font-size: 1em;
  margin: 20px auto;
  cursor: pointer;
}

.expression {
  background-color: darkblue;
  color: lightgrey;
  font-size: 1.5em;
  margin: 50px;
  display: block;
  padding: 20px;
  height: 70px;
  position: absolute;
  left: 15%;
  right: 15%;
}

.token {
  padding: 0 5px;
}

.tokens {
  margin-top: 60px;
}

.tokens button {
  font-size: 1.2em;
  font-family: monospace;
  margin: 5px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.msgame {
  height: 70%;
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.square {
  display: inline-block;
  width: 20%;
  perspective: 1000px;
  border: 2px solid black;
  background-color: #f5f5f5;
  position: relative;
}

.card {
  transition: .6s;
  transform-style: preserve-3d;

}

.flip {
  transform: rotateY(180deg);
}

.front, .back {
  border: 1px green solid;
  backface-visibility: hidden;
  position: absolute;
  width: 50%;
  padding: 10px;
  background-color: white;
  top: 10px;
}

.front {
  z-index: 2;
  left: 25%;
}

.back {
  right: 25%;
  transform: rotateY(180deg);
}

.minesweeper p {
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
}

#todo {
  position: absolute;
  right: 0;
  width: 20%;
}

.error {
  margin: 140px 0 0 0;
}

.msg {
  visibility: hidden;
  z-index: 3;
  position: absolute;
  width: 50%;
}

.lose, .win {
  visibility: visible;
}

.win {
  font-size: 3em;
}
